{% block content %}
<div class="card">
  <div class="card2">
    <h1>Lista de tarefas</h1>
    <style>
    html, body {
   height: 100%;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
  }

    .card {
   width: 500px;
   height: 500px;
   background-image: linear-gradient(163deg, #00ff22 0%, #3700ff 100%);
   border-radius: 23px;
   transition: all .3s;
   display: flex;
  justify-content: center;
  align-items: center;
  }

    .card2 {
   width: 500px;
   height: 500px;
   background-color: #1a1a1a;
   border-radius: 20px;
    transition: all .2s;
  }
    
    h1 {
      color: rgb(43, 255, 0);
      text-align: center;
      font-family: "Lucida Console", "Courier New", monospace;
    }
    .card2:hover {
     transform: scale(0.98);
     border-radius: 20px;
    }
    
    .card:hover {
     box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    }
    
    </style>
    <div class="btn-conteiner">
      <a class="btn-content" href="{% url 'nova' %}" style="text-decoration: none;">
        <span class="btn-title">Nova Tarefa</span>
        <span class="icon-arrow">
          <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path id="arrow-icon-one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
              <path id="arrow-icon-two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
              <path id="arrow-icon-three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
            </g>
          </svg>
        </span> 
      </a>
    </div>
    
    
    </body>
    
    <la>
      
      <style>
        /*butao*/
        .btn-conteiner {
      display: flex;
      justify-content: center;
      --color-text:rgb(43, 255, 0);
      --color-background: #000000;
      --color-outline: #00000080;
      --color-shadow: #00000080;
    }
    
    .btn-content {
      display: flex;
      align-items: center;
      padding: 5px 30px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 30px;
      color: var(--color-text);
      background: var(--color-background);
      transition: 1s;
      border-radius: 100px;
      box-shadow: 0 0 0.2em 0 var(--color-background);
    }
    
    .btn-content:hover, .btn-content:focus {
      transition: 0.5s;
      -webkit-animation: btn-content 1s;
      animation: btn-content 1s;
      outline: 0.1em solid transparent;
      outline-offset: 0.2em;
      box-shadow: 0 0 0.4em 0 var(--color-background);
    }
    
    .btn-content .icon-arrow {
      transition: 0.5s;
      margin-right: 0px;
      transform: scale(0.6);
    }
    
    .btn-content:hover .icon-arrow {
      transition: 0.5s;
      margin-right: 25px;
    }
    
    .icon-arrow {
      width: 20px;
      margin-left: 15px;
      position: relative;
      top: 6%;
    }
      
    #arrow-icon-one {
      transition: 0.4s;
      transform: translateX(-60%);
    }
    
    #arrow-icon-two {
      transition: 0.5s;
      transform: translateX(-30%);
    }
    
    .btn-content:hover #arrow-icon-three {
      animation: color_anim 1s infinite 0.2s;
    }
    
    .btn-content:hover #arrow-icon-one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
    }
    
    .btn-content:hover #arrow-icon-two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
    }
    
    /* ani0maçao*/
    @keyframes color_anim {
      0% {
        fill:rgb(43, 255, 0);
      }
    
      50% {
        fill: var(--color-background);
      }
    
      100% {
        fill: rgb(43, 255, 0);
      }
    }
    
    /* animaçao do butao */
    @-webkit-keyframes btn-content {
      0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
      }
    }
    
    @keyframes btn-content {
      0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
      }
    }
      </style>
    <ul>
      {% if tarefas %}
      {% for tarefa in tarefas %}
      <li style="display: flex; align-items: center;"> 
          <label class="material-checkbox" style="margin-right: -5px">
              <input type="checkbox">
              <span class="checkmark"></span>
          </label>
          <a href="{% url 'deletar' tarefa.pk %}" style="text-decoration: none; color: inherit; font-family: 'Arial', sans-serif;">
              <span class="nm-tarefa">{{ tarefa.nome_tarefa }}</span> 
      </li>
      {% endfor %}
      {% else %}
          <div class="hacker-loader">
            <div class="loader-text">
              <span data-text="Initializing..." class="text-glitch">Nenhuma tarefa encontrada...</span>
            </div>
            <div class="loader-bar">
              <div class="bar-fill"></div>
              <div class="bar-glitch"></div>
            </div>
            <div class="particles">
              <div class="particle"></div>
              <div class="particle"></div>
              <div class="particle"></div>
              <div class="particle"></div>
              <div class="particle"></div>
            </div>
          </div>
          <style>
    .hacker-loader {
      position: relative;
      width: 24em;
      height: 6em;
      background-color: #0a0a0a;
      border: 0.2em solid #00ff00;
      border-radius: 0.5em;
      padding: 1em;
      overflow: hidden;
      box-shadow: 0 0 1em rgba(0, 255, 0, 0.3);
    }
    
    .loader-text {
      text-align: center;
      margin-bottom: 1em;
    }
    
    .text-glitch {
      color: #00ff00;
      font-family: monospace;
      font-size: 1.5em;
      position: relative;
      display: inline-block;
    }
    
    .text-glitch::before,
    .text-glitch::after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0a0a0a;
      clip: rect(0, 0, 0, 0);
    }
    
    .text-glitch::before {
      left: -0.1em;
      text-shadow: 0.1em 0 #ff00ff;
      animation: glitch-effect 3s infinite linear alternate-reverse;
    }
    
    .text-glitch::after {
      left: 0.1em;
      text-shadow: -0.1em 0 #00ffff;
      animation: glitch-effect 2s infinite linear alternate-reverse;
    }
    
    .loader-bar {
      width: 100%;
      height: 0.5em;
      background-color: #003300;
      border-radius: 0.25em;
      position: relative;
      overflow: hidden;
    }
    
    .bar-fill {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #00ff00;
      animation: bar-fill-animation 2s infinite ease-in-out;
    }
    
    .bar-glitch {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        45deg,
        transparent,
        rgba(0, 255, 0, 0.2),
        transparent
      );
      background-size: 200% 200%;
      animation: bar-glitch-animation 2s infinite linear;
    }
    
    .particles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    
    .particle {
      position: absolute;
      width: 0.2em;
      height: 0.2em;
      background-color: #00ff00;
      border-radius: 50%;
      opacity: 0;
      animation: particle-animation 2s infinite linear;
    }
    
    .particle:nth-child(1) {
      top: 10%;
      left: 10%;
      animation-delay: 0s;
    }
    
    .particle:nth-child(2) {
      top: 30%;
      left: 60%;
      animation-delay: 0.5s;
    }
    
    .particle:nth-child(3) {
      top: 70%;
      left: 30%;
      animation-delay: 1s;
    }
    
    .particle:nth-child(4) {
      top: 90%;
      left: 90%;
      animation-delay: 1.5s;
    }
    
    .particle:nth-child(5) {
      top: 50%;
      left: 50%;
      animation-delay: 2s;
    }
    
    @keyframes glitch-effect {
      0% {
        clip: rect(42px, 9999px, 44px, 0);
      }
      5% {
        clip: rect(12px, 9999px, 59px, 0);
      }
      10% {
        clip: rect(48px, 9999px, 29px, 0);
      }
      15.0% {
        clip: rect(42px, 9999px, 73px, 0);
      }
      20% {
        clip: rect(63px, 9999px, 27px, 0);
      }
      25% {
        clip: rect(34px, 9999px, 55px, 0);
      }
      30.0% {
        clip: rect(86px, 9999px, 73px, 0);
      }
      35% {
        clip: rect(20px, 9999px, 20px, 0);
      }
      40% {
        clip: rect(26px, 9999px, 60px, 0);
      }
      45% {
        clip: rect(25px, 9999px, 66px, 0);
      }
      50% {
        clip: rect(57px, 9999px, 98px, 0);
      }
      55.0% {
        clip: rect(5px, 9999px, 46px, 0);
      }
      60.0% {
        clip: rect(82px, 9999px, 31px, 0);
      }
      65% {
        clip: rect(54px, 9999px, 27px, 0);
      }
      70% {
        clip: rect(28px, 9999px, 99px, 0);
      }
      75% {
        clip: rect(45px, 9999px, 69px, 0);
      }
      80% {
        clip: rect(23px, 9999px, 85px, 0);
      }
      85.0% {
        clip: rect(54px, 9999px, 84px, 0);
      }
      90% {
        clip: rect(45px, 9999px, 47px, 0);
      }
      95% {
        clip: rect(37px, 9999px, 20px, 0);
      }
      100% {
        clip: rect(4px, 9999px, 91px, 0);
      }
    }
    
    @keyframes bar-fill-animation {
      0%,
      100% {
        width: 0;
      }
      50% {
        width: 100%;
      }
    }
    
    @keyframes bar-glitch-animation {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 200% 0;
      }
    }
    
    @keyframes particle-animation {
      0% {
        opacity: 0;
        transform: translate(0, 0);
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translate(2em, 2em);
      }
    }
          </style>       
      {% endif %}
    </ul>
    
    <style>
    /* tarefa e chekbox */ 
    .nm-tarefa{
      color: #00ff00;
      font-family: "Lucida Console", "Courier New", monospace;
      font-size: 20px;
    }
    .material-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #777777;
    cursor: pointer;
    }
    
    .material-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    }
    
    .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px solid #09ff00;
    border-radius: 4px;
    transition: all 0.3s;
    }
    
    .material-checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color: #2F3300;
    border-color: rgb(43, 255, 0);
    }
    
    .material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    }
    
    .material-checkbox input[type="checkbox"]:focus ~ .checkmark {
    box-shadow: 0 0 0 2px #15fd00;
    }
    
    .material-checkbox:hover input[type="checkbox"] ~ .checkmark {
    border-color:rgb(0, 255, 64);
    }
    
    .material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
    opacity: 0.5;
    cursor: not-allowed;
    }
    
    .material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
    border-color: rgb(13, 65, 3);
    }
    
    </style>
    {% endblock %}
  </div>
</div>
<div class="toggle-switch">
  <label class="switch-label">
    <input type="checkbox" class="checkbox" id="toggle-background" onclick="mudarCorFundo()">
    <span class="slider"></span>
  </label>
</div>

<script>
  function mudarCorFundo() {
    // Obtém o checkbox
    const checkbox = document.getElementById('toggle-background');

    // Verifica se está marcado (checked) e muda a cor de fundo
    if (checkbox.checked) {
      document.body.style.backgroundColor = 'white'; 
    } else {
      document.body.style.backgroundColor = '#262626'
    }
  }
</script>
<style>
  
/*Fundo do site*/
body {
  background-color:#262626; /* Cor inicial do fundo */
  transition: background-color 0.5s ease; /* Transição suave */
}
.toggle-switch {
  position: absolute; /* Posiciona o botão de forma absoluta */
  right: 20px; /* Ajusta a distância do lado direito */
  top: 20px; /* Ajusta a distância do topo da página */
  width: 100px;
  height: 50px;
  --light: #d8dbe0; /* Cor clara (cinza) */
  --dark: #000000;  /* Cor escura (preto) */
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 29px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light); 
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  transform: translateX(50px);
  background-color: var(--dark); /* Cor da "bolinha" */
  box-shadow: none;
}
</style>
</html> 